# BOSS Katana Device Profile (runtime)
# Full reference: docs/dev/katana_full_reference.toml

[profile]
name = "BOSS Katana"
manufacturer = "Roland/BOSS"
version = "1.0.0"

[midi]
default_channel = 1

# CC toggles (GA-FC compatible)
[midi.control_change.toggles]
16 = { name = "Booster", type = "momentary" }
17 = { name = "Mod", type = "momentary" }
18 = { name = "FX", type = "momentary" }
19 = { name = "Delay", type = "momentary" }
20 = { name = "Reverb", type = "momentary" }
21 = { name = "FX Loop", type = "momentary" }
80 = { name = "GA-FC CTL1", type = "momentary" }
81 = { name = "GA-FC CTL2", type = "momentary" }

# Expression CCs
[midi.control_change.expression]
1  = { name = "EXP Pedal", type = "continuous", min = 0, max = 127 }
7  = { name = "Volume", type = "continuous", min = 0, max = 127 }
11 = { name = "Expression", type = "continuous", min = 0, max = 127 }

# SysEx core
[sysex]
enabled = true
manufacturer_id = 0x41
model_id = [0x00, 0x00, 0x00, 0x33]
prefix = [0xF0, 0x41, 0x00]
query_op = 0x11
set_op = 0x12
checksum_algorithm = "roland"

[sysex.detection]
identity_request = [0xF0, 0x7E, 0x00, 0x06, 0x01, 0xF7]

[sysex.editor_mode]
enter = { address = [0x7F, 0x00, 0x00, 0x01], data = [0x01] }
exit  = { address = [0x7F, 0x00, 0x00, 0x01], data = [0x00] }
settle_time_ms = 100

# Amp parameters
[sysex.parameters.amp_type]
name = "Amp Type"
tier = 2
address = [0x00, 0x00, 0x04, 0x20]
type = "enum"
default = 1

[sysex.parameters.sneaky_amp]
name = "Sneaky Amp Type"
tier = 2
address = [0x60, 0x00, 0x00, 0x51]
type = "enum"

[sysex.parameters.gain]
name = "Gain"
tier = 2
address = [0x00, 0x00, 0x04, 0x21]
type = "range"
min = 0
max = 100

[sysex.parameters.volume]
name = "Volume"
tier = 2
address = [0x00, 0x00, 0x04, 0x22]
type = "range"
min = 0
max = 100

[sysex.parameters.bass]
name = "Bass"
tier = 2
address = [0x00, 0x00, 0x04, 0x23]
type = "range"
min = 0
max = 100

[sysex.parameters.middle]
name = "Middle"
tier = 2
address = [0x00, 0x00, 0x04, 0x24]
type = "range"
min = 0
max = 100

[sysex.parameters.treble]
name = "Treble"
tier = 2
address = [0x00, 0x00, 0x04, 0x25]
type = "range"
min = 0
max = 100

[sysex.parameters.presence]
name = "Presence"
tier = 2
address = [0x00, 0x00, 0x04, 0x26]
type = "range"
min = 0
max = 100

# Boost/Drive
[sysex.parameters.boost_sw]
name = "Boost Switch"
tier = 2
address = [0x60, 0x00, 0x00, 0x30]
type = "bool"
cc_alias = 16

[sysex.parameters.boost_type]
name = "Boost Type"
tier = 2
address = [0x60, 0x00, 0x00, 0x31]
type = "enum"

[sysex.parameters.boost_drive]
name = "Boost Drive"
tier = 2
address = [0x60, 0x00, 0x00, 0x32]
type = "range"
min = 0
max = 100

[sysex.parameters.boost_bottom]
name = "Boost Bottom"
tier = 2
address = [0x60, 0x00, 0x00, 0x33]
type = "range"
min = -50
max = 50
raw_min = 0
raw_max = 100

[sysex.parameters.boost_tone]
name = "Boost Tone"
tier = 2
address = [0x60, 0x00, 0x00, 0x34]
type = "range"
min = -50
max = 50
raw_min = 0
raw_max = 100

[sysex.parameters.boost_level]
name = "Boost Level"
tier = 2
address = [0x60, 0x00, 0x00, 0x37]
type = "range"
min = 0
max = 100

# Modulation
[sysex.parameters.mod_sw]
name = "Mod Switch"
tier = 2
address = [0x60, 0x00, 0x01, 0x40]
type = "bool"
cc_alias = 17

[sysex.parameters.mod_type]
name = "Mod Type"
tier = 2
address = [0x60, 0x00, 0x01, 0x41]
type = "enum"

[sysex.parameters.wah_type]
name = "Wah Type"
tier = 2
address = [0x60, 0x00, 0x01, 0x5C]
type = "enum"

[sysex.parameters.wah_position]
name = "Wah Position"
tier = 2
address = [0x60, 0x00, 0x01, 0x5D]
type = "range"
min = 0
max = 100
realtime = true

# Delay
[sysex.parameters.delay_sw]
name = "Delay Switch"
tier = 2
address = [0x60, 0x00, 0x05, 0x60]
type = "bool"
cc_alias = 19

[sysex.parameters.delay_type]
name = "Delay Type"
tier = 2
address = [0x60, 0x00, 0x05, 0x61]
type = "enum"

[sysex.parameters.delay_time]
name = "Delay Time"
tier = 2
address = [0x60, 0x00, 0x05, 0x62]
type = "range"
min = 1
max = 2000
size = 2
encoding = "roland_11bit"

[sysex.parameters.delay_feedback]
name = "Delay Feedback"
tier = 2
address = [0x60, 0x00, 0x05, 0x64]
type = "range"
min = 0
max = 100

[sysex.parameters.delay_level]
name = "Delay Level"
tier = 2
address = [0x60, 0x00, 0x05, 0x66]
type = "range"
min = 0
max = 120

# Reverb
[sysex.parameters.reverb_sw]
name = "Reverb Switch"
tier = 2
address = [0x60, 0x00, 0x06, 0x10]
type = "bool"
cc_alias = 20

[sysex.parameters.reverb_type]
name = "Reverb Type"
tier = 2
address = [0x60, 0x00, 0x06, 0x11]
type = "enum"

[sysex.parameters.reverb_time]
name = "Reverb Time"
tier = 2
address = [0x60, 0x00, 0x06, 0x12]
type = "range"
min = 0
max = 99

[sysex.parameters.reverb_level]
name = "Reverb Level"
tier = 2
address = [0x60, 0x00, 0x06, 0x18]
type = "range"
min = 0
max = 100

# Noise Gate
[sysex.parameters.noise_gate_sw]
name = "Noise Gate"
tier = 2
address = [0x60, 0x00, 0x06, 0x63]
type = "bool"

[sysex.parameters.noise_gate_threshold]
name = "Gate Threshold"
tier = 2
address = [0x60, 0x00, 0x06, 0x64]
type = "range"
min = 0
max = 100

# FX Loop
[sysex.parameters.fx_loop_sw]
name = "FX Loop"
tier = 2
address = [0x00, 0x00, 0x04, 0x00]
type = "bool"
cc_alias = 21

# Presets
[sysex.presets]
query_address = [0x00, 0x01, 0x00, 0x00]
query_length = [0x00, 0x00, 0x00, 0x02]
requires_editor_mode = true
recall_address = [0x00, 0x01, 0x00, 0x00]

# Gen3 parameters
[sysex.parameters.preamp_variation]
name = "Preamp Variation"
tier = 3
min_generation = "gen3"
address = [0x60, 0x00, 0x00, 0x52]
type = "range"
min = 0
max = 100

[sysex.parameters.bloom]
name = "Bloom"
tier = 3
min_generation = "gen3"
address = [0x60, 0x00, 0x00, 0x53]
type = "range"
min = 0
max = 100

[sysex.parameters.cab_resonance]
name = "Cabinet Resonance"
tier = 3
min_generation = "gen3"
address = [0x60, 0x00, 0x00, 0x54]
type = "enum"

[sysex.parameters.contour_led]
name = "Contour LED"
tier = 3
min_generation = "gen3"
address = [0x60, 0x00, 0x00, 0x55]
type = "enum"

# Default button mappings
[defaults.buttons]
A = { action = "midi_cc", cc = 16, label = "BOOST" }
B = { action = "midi_cc", cc = 17, label = "MOD" }
C = { action = "midi_cc", cc = 19, label = "DELAY" }
D = { action = "midi_cc", cc = 20, label = "REVERB" }
"1" = { action = "midi_pc", program = 1, label = "CH1" }
"2" = { action = "midi_pc", program = 2, label = "CH2" }
"3" = { action = "midi_pc", program = 3, label = "CH3" }
"4" = { action = "midi_pc", program = 4, label = "CH4" }
up = { action = "bank_up", label = "BANK+" }
down = { action = "tuner", label = "TUNER" }

[defaults.encoder]
bind = "sysex:volume"
fallback = { action = "midi_cc", cc = 7 }

[defaults.expression]
pedal1 = { bind = "sysex:wah_position", fallback = { cc = 1 } }
pedal2 = { bind = "midi_cc", cc = 7 }
